<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<form method="POST">
		<label>nome:</label>
		<input type="text" name="nome">
		<br>
		<label>descrizione:</label>
		<textarea rows="4" cols="6" name="descrizione"></textarea>
		<br>
		<label>foroUrl:</label>
		<textarea rows="4" cols="6" name="fotoUrl"></textarea>
		<br>
		<label>prezzo:</label>
		<input type="number" name="prezzo">
		<br>		
		<button>Crea</button>
	</form>

</body>
</html>